*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hover-box{
    height: 100vh;
    background: rgb(14, 18, 16);
}
#hover-box .container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
    
}
#hover-box .hover-box{
    width: 300px;
    height: 380px;
    background:black(194, 12, 34);
    cursor: pointer;
    position:relative;

}
#hover-box .hover-box img{
    width: 100%;
    height: 100%;
}
#hover-box .hover-box::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #070000;
  left: 0%;
  top: 0%;
  z-index: 10;
  transition: 0.8s cubic-bezier(.05,.84,1,.19);
  opacity: 0;
  visibility: hidden;
}
#hover-box .hover-box:hover::after{
    width: 100%;
    opacity: 0.7;
    visibility: visible;
    transition: 0.9s ;
    top: 0%;
    
}
#hover-box .icons{
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    transform: translate(-50%,50%);
    z-index: 55;
}

#hover-box .icons span{
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
#hover-box .icons span:hover{
    background: rgb(0, 14, 14);
    color: #fff;
    
    transition: 0.3s;
}
#hover-box .icons span:nth-child(1){
    transform: translate(0%,-520%);
    transition: 0.8s;
    visibility: hidden;
    opacity: 0;
}
#hover-box .icons span:nth-child(2){
    transform: translate(535%,320%);
    transition: 0.8s;
    visibility: hidden;
    opacity: 0;
}
#hover-box .icons span:nth-child(3){
    transform: translate(-220%,-520%);
    transition: 0.8s;
    transition-delay: 0.2s;
    visibility: hidden;
    opacity: 0;
}
#hover-box .icons span:nth-child(4){
    transform: translate(318%,320%);
    transition: 0.8s;
    transition-delay: 0.2s;
    visibility: hidden;
    opacity: 0;
}


#hover-box .icons span i:hover{
    transform: rotate(360deg);
    transition: 0.8s;
}
#hover-box .hover-box:hover .icons span:nth-child(1){
    transform: translate(647%,-522%) rotate(360deg);
    opacity: 1;
    visibility: visible;
}
#hover-box .hover-box:hover .icons span:nth-child(2){
    transform: translate(-110%,320%) rotate(360deg);
    opacity: 1;
    visibility: visible;
}
#hover-box .hover-box:hover .icons span:nth-child(3){
    transform: translate(430%,320%) right(360deg);
    opacity: 1;
    visibility: visible;
}
#hover-box .hover-box:hover .icons span:nth-child(4){
    transform: translate(-330%,-520%) left(360deg);
    opacity: 1;
    visibility: visible;
}
